$accent1: #4f3fda;
$accent2: #9e28e3;
body {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	animation: animateBg 15s linear infinite alternate;
	background-image: linear-gradient(-45deg, $accent1, $accent2,);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#titlebox {
	height: 100vh;
	width: 100%;
	font-size: xx-large;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	border: 0;
	margin: 0;
}

/* Styles for the navigation bar */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00000000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

ul.topnav li {
	float: none;  /* mobile stuff */
	display: inline-block;
}

ul.topnav li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.2s;
	border-radius: 5px;
}

ul.topnav li a.f {
	border-radius: 5px 0 0 5px;
}
ul.topnav li a.l {
	border-radius: 0 5px 5px 0;
}

ul.topnav li a:hover {
	background-color: #7777779f;
}

ul.topnav li.right {
	float: right;
}


@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
	ul.topnav li a {
		text-align: left;
		border-radius: 0 !important;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	color: #00000000;
}

.dropdown:hover .dropdown-content {
	display: block;


}